<!DOCTYPE html>
<html lang="en">
    <% include common/head.ejs %>
<body>
    <div class="container text-center">
        <h1 class="logo">
            <img src="./assets/img/logo.svg" alt="logo">
            <span>Todo App</span>
        </h1>
        <form id="loginForm" class="card mr-auto ml-auto" style="max-width: 500px;" method="POST" action="/auth">
            <div class="card-body">
                <h3>Please login to continue</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" value="">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="authStatus" style="display: none;"></p>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col">
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
        </div>
    </div>
    <!-- <script>
        window.onload = ()=>{
            const form = document.querySelector("#loginForm");
            form.addEventListener("submit", (event)=>{
                event.preventDefault();
                const formItemInputField = document.querySelector("#loginForm input[name='item']");
                const formItemId = document.querySelector("#loginForm input[name='id']").value;
                
                if(form != null && formItemInputField != null){
                    if(formItemInputField.value == ""){
                        return;
                    }
                    if(formItemId == ""){
                        addItem(formItemInputField.value);
                    }
                    else{
                        updateItem(formItemId, formItemInputField.value);
                    }
                }
            });
        }

        const addItem = (itemContent) => {
            fetch("/todo", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({item: itemContent})
            }).then(res=>{
                if(res.ok){
                    let resp = res.json().then(data=>{
                        console.log(data);
                        if(data.status == 1){
                            todoListDomMgmt(data.response);
                            showMsg("success", data.msg);
                            document.querySelector("#loginForm").reset();
                            document.querySelector("#loginForm [name='id']").value = '';
                        }
                    });
                }
            }).catch(e=>{
                console.log(e);
            })
        }

        const deleteItem = (itemId) => {
            fetch(
                "/todo/"+itemId,
                { 
                    "method": "DELETE"
                }
            ).then(res=>{
                if(res.ok){
                    let resp = res.json().then(data=>{
                        console.log(data);
                        if(data.status == 1){
                            todoListDomMgmt(data.response);
                            showMsg("error", data.msg);
                        }
                    });
                }
            }).catch(e=>{
                console.log(e);
            });
        }
        const updateItem = (itemId, itemContent) => {
            fetch("/update-todo", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({id: itemId, content: itemContent})
            }).then(res=>{
                if(res.ok){
                    let resp = res.json().then(data=>{
                        console.log(data);
                        if(data.status == 1){
                            todoListDomMgmt(data.response);
                            showMsg("success", data.msg);
                            document.querySelector("#loginForm").reset();
                            document.querySelector("#loginForm [name='id']").value = '';
                        }
                    });
                }
            }).catch(e=>{
                console.log(e);
            });
        }
        const editItem = (itemId, itemContent) => {
            document.querySelector("#loginForm [name='id']").value = itemId;
            document.querySelector("#loginForm #item").value = itemContent;
        }
        const showMsg = (type, msg)=>{
            const msgEle = document.querySelector(".listUpdateStatus");
            msgEle.textContent = msg;
            msgEle.style.display = "block";
            if(msgEle.classList.contains("text-danger"))
            msgEle.classList.remove("text-danger");
            if(msgEle.classList.contains("text-success"))
            msgEle.classList.remove("text-success");

            msgEle.classList.add(type=="error"?"text-danger":"text-success");
            timeout = setTimeout(()=>{
                msgEle.textContent = "";
                msgEle.style.display = "none";
                if(msgEle.classList.contains("text-danger"))
                msgEle.classList.remove("text-danger");
                if(msgEle.classList.contains("text-success"))
                msgEle.classList.remove("text-success");
            }, 5000);
        }
        const todoListDomMgmt = (listData)=>{
            if(!listData){
                return;
            }
            const list = listData;
            let todoList = document.querySelector(".todoList");
            while(todoList.firstChild){
                todoList.removeChild(todoList.firstChild);
            }
            list.forEach(item=>{
                const el = document.createElement("li");
                el.className = "list-group-item";

                const elDeleteButton = document.createElement("span");
                elDeleteButton.textContent = "delete";
                elDeleteButton.className = "badge badge-primary badge-pill";
                elDeleteButton.setAttribute("onclick", `deleteItem('${item._id}')`);
                el.appendChild(elDeleteButton);
                
                const elItem = document.createElement("span");
                elItem.textContent = item.item;
                elItem.className = "item";
                elItem.setAttribute("onclick", `editItem('${item._id}', '${item.item}')`);
                el.appendChild(elItem);

                todoList.appendChild(el);
            });
        }
    </script> -->
</body>
</html>