<!DOCTYPE html>
<html lang="en">
    <% include common/head.ejs %>
<body>
    <div class="container text-center">
        <h1 class="logo">
            <img src="./assets/img/logo.svg" alt="logo">
            <span>Todo App</span>
        </h1>
        <form id="addItemForm" class="card mr-auto ml-auto" style="max-width: 500px;" method="POST" action="/register">
            <div class="card-body">
                <h3>Please fill out all details</h3>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" value="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" value="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Re-enter password" value="">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <% if(typeof status !== 'undefined' && status == 0){ %>
                <p class="authStatus<%= status==0?' text-danger':'' %>" style="display:<%= (msg?'block':'none') %>"><%= msg %></p>
                <% } %>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col">
                <p>Already have an account? <a href="/auth">Login here</a></p>
            </div>
        </div>
    </div>
</body>
</html>