html{
    font-size: 14px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "sf display", "google sans", sans-serif;
    background: #f6f6f6;
    color: #222;
    padding: 1rem;
    padding-top: 5rem;
}
a{
    text-decoration: none;
}
.navbar{
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.navbar .navbar-brand{
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    margin-right: 2rem;
}
.list-header{
    text-transform: uppercase;
    color: #666;
}
.list-group-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.list-group-item .item{
    min-height: 1rem;
    width: 100%;
}
.badge:hover + .item{
    text-decoration: line-through;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.logo img{
    max-width: 3rem;
    margin-right: 1rem;
}